$white : #FFF;
$white-half-opacity: #93a5b3;
$border: #232427;
$bg-dark: #071535;
$main-back: #9fb5c2;
$green: #07da63;

$border-size-reg: 1.4px;

.header-text{
  font-size: 1.95rem;
  font-weight: 600;
  letter-spacing: .5px;
  line-height: 20px;
  color: $bg-dark;
  margin: 1em;
}

.icon-button{
  border: none !important;
  padding-left: 12px !important;
  width: 100px !important;
  background-color: transparent;
  display: flex;
  justify-content: center;
  opacity: .7;
}

.outlined-button{
  padding: 4px 12px 4px 32px;
  border-radius: 3px;
  border: $border-size-reg solid $bg-dark;
  background-color: transparent;

  height: 100%;
  width: 100%;
  width: 125px;
  max-height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: .7;
}

.outlined-button:hover, .icon-button:hover{
  opacity: 1;
  cursor: pointer;
}

.outlined-button:active{
  transform: translateY(1px);
}

.search-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.form-actions{
  display: flex;
  align-items: center;
  margin: 8px 0;
}
