@import '../../../shared/variables';

.form-wrapper{
  background-color: $white;
  width: 25%;
  height: 100%;
  form{
    padding: 14px;
    display: flex;
    flex-direction: column;
    .form-actions{
      button{
        border: $border-size-reg solid $green;
        color: $green;
      }
    }
  }
}
